* {
	box-sizing: border-box;
}

body {
	background-image: linear-gradient(to right, rgb(226, 220, 220), rgb(96, 196, 166));
}

h2 {
	font: bold;
	font-size: 50px;
	font-family: 'Montserrat', sans-serif;
	margin: 20px 12px
}

.jumbotron-fluid {
	background-color: whitesmoke;
	padding-right: 0;
	padding-left: 0;
	border-radius: 0;
	padding: 20px;
}

.container h1 {
	color: goldenrod;
	font: normal;
	font-size: 30px;
	font-family: 'Montserrat', sans-serif;
	margin-left: 2rem;
	margin-left: 2rem;
}


/* info */

.card {
	width: 200px;
	margin-left: 0rem;
	margin-top: 0.3rem;
	height: 150px;
}

.card-title {
	color: rgb(17, 68, 63);
	font: bold;
	font-size: 18px;
	font-family: 'Montserrat', sans-serif;
}

.card-text {
	font: bold;
	font-size: 12px;
	font-family: 'Montserrat', sans-serif;
}

/* menu */

.dropdown {
	margin: 15px;
	font-weight: bold;
}

.btn {
	color: black;
	text-align: start;
	font-weight: bold;
	font-size: large;
	background-color: rgb(105, 211, 200);
	border: none;
	width: 160px;
}

.btn:hover {
	background-color: grey;
	color: black;
}

.dropdown-menu {
	background-color: rgb(53, 185, 172);
	color: black;
	font-weight: bolder;
	font-size: medium;
}

.dropdown-item {
	display: block;
	width: 100%;
	padding: .25rem 1.5rem;
	clear: both;
	color: #212529;
	text-align: inherit;
	white-space: nowrap;
	background-color: transparent;
	border: 0;
	font-weight: bold;
}

/* about */

.about-content {
	display: flex;
	margin-left: 5rem;
	margin-right: 5rem;
	margin-top: 5px;
	margin-bottom: 5px;
	width: fit-content;
	justify-content: center;
	font-size: x-large;
	font-weight: bold;
	font-family: 'Montserrat', sans-serif;
}

/* for spacing betwwen lines */

p.big {
	line-height: 1.8;
}

/* container and gallery */

#container {
	display: flex;
	justify-content: center;
	justify-content: space-around;
	flex-wrap: wrap;
	flex-direction: row;
	margin-top: 0;
	margin-bottom: 20px;
}

.collection-name {
	margin-top: 5px;
	margin-bottom: 5px;
	font-size: x-large;
	font-weight: bold;
	font-family: 'Montserrat', sans-serif;
	text-align: center;
}

.collection-name p {
	margin: 0;
}

.gallery {
	margin-right: 30px;
	/* margin: 10px 30px; */
	border: 5px solid whitesmoke;
	width: 250px;
}

.gallery:hover {
	border: 5px solid goldenrod;
}

.gallery img {
	width: 100%;
	height: auto;
}

.desc {
	padding: 15px;
	text-align: center;
	font-size: 15px;
	font-family: 'Montserrat', sans-serif;
}

/* responsive design */

/* ask Tom about the width of the dropdown-menu when max-width screen is 600px */

@media only screen and (max-width: 600px) {
	h2 {
		font: bold;
		font-size: 40px;
		font-family: 'Montserrat', sans-serif;
		margin: 20px 12px;
	}
	.gallery {
		width: 150px;
	}
	.desc {
		color: rgb(19, 18, 18);
	}
	.container h1 {
		color: goldenrod;
		font: normal;
		font-size: 20px;
		font-family: 'Montserrat', sans-serif;
		margin-left: 2rem;
		margin-left: 2rem;
	}
	
	.card-title {
		color: rgb(17, 68, 63);
		font: bold;
		font-size: 12px;
		font-family: 'Montserrat', sans-serif;
	}
	.card-text {
		font: bold;
		font-size: 10px;
		font-family: 'Montserrat', sans-serif;
	}
	.about-content {
		display: flex;
		margin-left: 5rem;
		margin-right: 5rem;
		margin-top: 5px;
		margin-bottom: 5px;
		width: fit-content;
		justify-content: center;
		font-size: large;
		font-weight: bold;
		font-family: 'Montserrat', sans-serif;
	}
	.dropdown {
		margin: 15px;
		font-weight: bold;
	}
	.btn {
		color: black;
		text-align: start;
		font-weight: bold;
		font-size: small;
		background-color: rgb(105, 211, 200);
		border: none;
		width: 100px;
	}
	.btn:hover {
		background-color:grey;
		color: black;
	}
	.dropdown-menu {
		background-color: rgb(53, 185, 172);
		color: black;
		font-weight: bolder;
		font-size: small;
	}
	.dropdown-item {
		display: block;
		width: 100%;
		padding: .25rem 1.5rem;
		clear: both;
		color: #212529;
		text-align: inherit;
		white-space: nowrap;
		background-color: transparent;
		border: 0;
		font-weight: bold;
	}
}