body {
	/* background-color: rgb(149, 163, 177); */
	background-image: linear-gradient(to right,rgb(226, 220, 220), rgb(96, 196, 166));
}

h2 {
	font: bold;
	font-size: 50px;
	font-family: 'Montserrat', sans-serif;
	margin: 20px 12px
}

.home-content {
	display: flex;
	margin-left: 200px;
	width: fit-content;
	justify-content: center;
	margin-top: 5px;
	margin-bottom: 5px;
	font-size: x-large;
	font-weight: bold;
	font-family: 'Montserrat', sans-serif;
}

/* contact-us */

.card {
	width: 270px;
	margin-left: 4rem;
    margin-top: 0.3rem;
	height: 150px;
}

.card-title {
	color:rgb(17, 68, 63);
	font: bold;
	font-size: 18px;
	font-family: 'Montserrat', sans-serif;
}

.card-text {
	font: bold;
	font-size: 12px;
	font-family: 'Montserrat', sans-serif;
}

/* menu */

.dropdown {
	margin: 15px;
	font-weight: bold;
}

.btn {
	color: black;
	text-align: start;
	font-weight: bold;
	font-size: large;
	background-color: rgb(105, 211, 200);
	border: none;
	width: 160px;
}

.btn:hover {
	background-color: grey;
	color: black;
}

.dropdown-menu {
	background-color: rgb(53, 185, 172);
	color: black;
	font-weight: bolder;
	font-size: medium;
}

.dropdown-item {
	display: block;
	width: 100%;
	padding: .25rem 1.5rem;
	clear: both;
	color: #212529;
	text-align: inherit;
	white-space: nowrap;
	background-color: transparent;
	border: 0;
	font-weight: bold;
}

/* about */

.about-content {
	display: flex;
	margin-left: 200px;
	width: fit-content;
	justify-content: center;
	margin-top: 5px;
	margin-bottom: 5px;
	font-size: x-large;
	font-weight: bold;
	font-family: 'Montserrat', sans-serif;
}

/* container and gallery */

#container {
	display: flex;
	/* justify-content: center; */
	justify-content: space-evenly;
	flex-wrap: wrap;
	flex-direction: row;
	margin-top: 0;
	margin-bottom: 20px;
	justify-content: center;
}

.collection-name {
	margin-top: 5px;
	margin-bottom: 5px;
	font-size: x-large;
	font-weight: bold;
	font-family: 'Montserrat', sans-serif;
	text-align: center;
}

.collection-name p {
	margin: 0;
}

.gallery {
	margin: 10px 55px;
	border: 5px solid whitesmoke;
	/* float: left; */
	width: 250px;
}

.gallery:hover {
	border: 5px solid goldenrod;
}

.gallery img {
	width: 100%;
	height: auto;
}

.desc {
	padding: 15px;
	text-align: center;
	font-size: 15px;
	font-family: 'Montserrat', sans-serif;
}

/* responsive design */

/* ask Tom about the width of the dropdown-menu when max-width screen is 600px */

@media screen and (max-width: 600px) {
	.gallery {
		width: 150px;
	}
	.desc {
		color: rgb(19, 18, 18);
	}
	h1 {
		font-size: 40px;
	}
	.dropdown {
		margin: 15px;
		font-weight: bold;
	}
	.btn {
		color: black;
		text-align: start;
		font-weight: bold;
		font-size: small;
		background-color: rgb(58, 112, 182);
		border: none;
		width: 100px;
	}
	.btn:hover {
		background-color: orchid;
		color: black;
	}
	.dropdown-menu {
		background-color: orchid;
		color: black;
		font-weight: bolder;
		font-size: small;
	}
	.dropdown-item {
		display: block;
		width: 100%;
		padding: .25rem 1.5rem;
		clear: both;
		color: #212529;
		text-align: inherit;
		white-space: nowrap;
		background-color: transparent;
		border: 0;
		font-weight: bold;
	}
}

/*  continue hendeling with style when max-width screen is 500px */

@media screen and (max-width: 500px) {
	.gallery {
		width: 170px;
	}
	.desc {
		color: rgb(19, 18, 18);
	}
	h1 {
		font-size: 30px;
	}
}

/* delete? */

/* ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 150px;
	background-color: #f1f1f1;
}

li {
	float: left;
	font-size: large;
	font-weight: lighter;
	font-family: 'Montserrat', sans-serif;
}

li a {
	display: block;
	color: black;
	padding: 8px 16px;
	text-decoration: none;
	margin: 8px;
}

li a:hover {
	background-color: rgb(231, 231, 85);
	color: rgb(37, 35, 35);
} */

/* Change the link color on hover */